<div class="row">
			<div class="col-md-4 ">
					<ul class="nav nav-pills nav-stacked">
					    <li><a href="#">Basic Info</a></li>
					    <li><a href="#">Company Info</a></li>
					    <li class="active"><a href="#">Census</a></li>
					</ul>
			</div>
			<div class="col-md-8">
				<div class="input-group col-md-4">
					<input class="form-control" type="text" ng-model="model.caseId" placeholder="Find a Case">
					<span class="input-group-addon glyphicon glyphicon-search" ng-click="getCase()"></span>
				</div>
				
				<div class="page-header">
				  <h1>Census <small> My Organization</small></h1>
				  	<div class="muted">
						<small>To create a case and return the final quote, please click 'Submit for Final Quote' when you have finished entering employee information</small>
					</div>
				</div>
			
				
				<div class="panel panel-info"> 
					<div class="panel-heading">Add or Edit Enrollees</div>
					<div class="panel-body">
						<form name="employeeForm" ng-submit="saveEnrollee(enrollee.id == null)" role="form" class="form-horizontal">
							<input type="hidden" ng-model="enrollee.id">
							<div class="form-group">
								<div class="col-md-3">
									<input class="form-control" type="text" placeholder="First Name" ng-model="enrollee.firstName" required>
								</div>
								<div class="col-md-3">
									<input class="form-control" type="text" placeholder="Last Name" ng-model="enrollee.lastName" required>
								</div>
								
								<div class="col-md-3">
									<div  class="input-group">
										<input class="form-control" type="date" placeholder="Birth Date" ng-model="enrollee.birthDate"  data-date-format="yyyy-mm-dd" required bs-datepicker data-type="string"></input>
										<span class="input-group-addon" data-toggle="datepicker">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>  
									
								</div>
								<div class="col-md-3">
									<select class="form-control" ng-model="enrollee.gender"  ng-options="g.value as g.name for g in genderOptions" required>
										<option value="">Select Gender...</option> 
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10">
									<button type="submit" class="btn btn-info" ng-show="enrollee.id == null">Add Enrollee</button>
									<button type="submit" class="btn btn-info" ng-hide="enrollee.id == null">Update Enrollee</button>
									<button type="button" class="btn btn-default" ng-click="cancelEditEnrollee()">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div id="enrollees">
				
					<div ng-repeat="enrollee in model.census.population">
						<div class="well">
							<div class="row">
								<div class="col-md-10 text-left"><h2>{{enrollee.firstName}} {{enrollee.lastName}}</h2></div>
								<div class="col-md-2 text-right">
									<i class="glyphicon glyphicon-pencil" ng-click="editEnrollee(enrollee)"></i>
									<i class="glyphicon glyphicon-trash" ng-click="deleteEnrollee(enrollee)"></i>
								</div>
								
								<div class="col-md-12">
									<div class="panel panel-primary">
										<div class="panel-heading">Dependents</div>
										<table class="table table-hover">
											 <thead>
												<tr>
													<th>Edit</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Type</th>
													<th>Delete</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="dependent in enrollee.enrolleeDependents">
													<td><i class="glyphicon glyphicon-pencil" ng-click="editDependent(enrollee, dependent)"></i></td>
													<td>{{dependent.firstName}}</td>
													<td>{{dependent.lastName}}</td>
													<td>{{dependent.dependentType}}</td>
													<td><i class="glyphicon glyphicon-trash" ng-click="deleteDependent(enrollee, dependent)"></i></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-12"> 
									<form ng-submit="saveDependent(enrollee)" role="form" class="form-horizontal">
											<div class="form-group">
												<div class="col-md-3">
													<input type="hidden" ng-model="enrollee.dependent.id">
													<select class="form-control"  ng-model="enrollee.dependent.dependentType"  ng-options="d.value as d.name for d in dependentTypeOptions" required>
														<option value="">Type...</option> 
													</select>
												</div>
												<div class="col-md-3">
													<input class="form-control" type="text" placeholder="First Name" ng-model="enrollee.dependent.firstName" required>
												</div>
												<div class="col-md-3">
													<input class="form-control" type="text" placeholder="Last Name" ng-model="enrollee.dependent.lastName" required>
												</div>
												<div class="col-md-3">
													<div  class="input-group">
														<input class="form-control" type="date" placeholder="Birth Date" ng-model="enrollee.dependent.birthDate"  data-date-format="yyyy-mm-dd" required bs-datepicker data-type="string"></input>
														<span class="input-group-addon" data-toggle="datepicker">
															<span class="glyphicon glyphicon-calendar"></span>
														</span>
													</div>   
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-3">
													<select class="form-control"  ng-model="enrollee.dependent.gender"  ng-options="g.value as g.name for g in genderOptions" required>
														<option value="">Gender...</option> 
													</select>
												</div>
											</div>
											<div class="form-group">
												<div class="col-md-12">
													<button type="submit" class="btn btn-primary" ng-show="enrollee.dependent.id == null">Add Dependent</button>
													<button type="submit" class="btn btn-primary" ng-hide="enrollee.dependent.id == null">Update Dependent</button>
													<button type="button" class="btn btn-default" ng-click="cancelEditDependent(enrollee)">Cancel</button>
												</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
<script type="text/javascript">
	 $(function(){
	}); 
</script>